body{
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
 }
 header{
     display:float;
     background:black;
     padding: 20px;
     
 }
 header h1{
     color:#FF953F;
    width: 25%;
     margin-top: 0px;
     float: left;
    
 }
 p{
     font-weight: bold;
 }
 ul, ol{
     list-style: none;
     
    }
    nav{
        font-family: 'Roboto', sans-serif;
    }
   nav  li{
        display: inline-block;
        margin-right: 15px;
        padding:3px;
    }
 nav li a{
     text-decoration: none;
     color: white;
     
 }
 .container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
 }
 #left-section{
    border: :1px solid red;
    float:left;
    width:30%;
 }
 #main-section{
    
    
    
 }
 
 #right-section{
    
    
 }

 footer{
    background:black;
    padding: 25px;
 }
 footer p{
     text-align: center;
     color: white;
     

 }